<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<form method="post" style="display: flex; flex-direction: column; width: 350px">
    {% csrf_token %}
    <label for="EmailFiled">Email:</label>
    <input id="EmailFiled" name="email" type="email">
    <label for="LoginFiled">Логин:</label>
    <input id="LoginFiled" name="username" type="text">
    <label for="Password1Filed">Пароль:</label>
    <input id="Password1Filed" name="password1" type="password">
    <label for="Password2Filed">Повторите пароль:</label>
    <input id="Password2Filed" name="password2" type="password">
    <button type="submit">Войти</button>
</form>
{% if err %}
    <h5>{{ err }}</h5>
{% endif %}
</body>
</html>